<footer>
<span>Copyleft 2020 - LibreCatpcha</span>
</footer>

<script src="static/js/jquery-3.2.1.min.js"></script>
<script>
$(function() {
    $("#toggle-menu").click(function() {
        $("#small").toggle();
    });
});
</script>
</body>
</html>
