<nav id="menu">
    <a class="brand" href="/"><img class="logo" src="/static/img/logo.png" alt="logo" />Libre Captcha</a>
    <div id="toggle-menu"><img class="burger" src="/static/img/burger.png" alt="burger menu" /></div>
    <div id="basic">
        <ul>
            <li><a {%if g.page=="about"%}class="selected"{%endif%} href="{{ url_for('core.about') }}">{{ _("About") }}</a></li>
            <li><a {%if g.page=="doc"%}class="selected"{%endif%} href="{{ url_for('core.documentation') }}">{{ _("Documentation") }}</a></li>
            <li><a {%if g.page=="contribute"%}class="selected"{%endif%} href="{{ url_for('core.faq') }}">{{ _("Contribute") }}</a></li>
            <li><a {%if g.page=="faq"%}class="selected"{%endif%} href="{{ url_for('core.faq') }}">{{ _("FAQ") }}</a></li>
            <li><a {%if g.page=="contact"%}class="selected"{%endif%} href="{{ url_for('core.faq') }}">{{ _("Contact") }}</a></li>
        </ul>
    </div>
    <div id="small">
        <ul>
            <li><a {%if g.page=="about"%}class="selected"{%endif%} href="{{ url_for('core.about') }}">{{ _("About") }}</a></li>
            <li><a {%if g.page=="doc"%}class="selected"{%endif%} href="{{ url_for('core.documentation') }}">{{ _("Documentation") }}</a></li>
            <li><a {%if g.page=="contribute"%}class="selected"{%endif%} href="{{ url_for('core.faq') }}">{{ _("Contribute") }}</a></li>
            <li><a {%if g.page=="faq"%}class="selected"{%endif%} href="{{ url_for('core.faq') }}">{{ _("FAQ") }}</a></li>
            <li><a {%if g.page=="contact"%}class="selected"{%endif%} href="{{ url_for('core.faq') }}">{{ _("Contact") }}</a></li>
        </ul>
    </div>
</nav>
