{% extends 'base.html' %}
{% block content %}
<section class="row">
    <section class="col-12">
    <h1>{{ _("Libre Captcha Bot") }}</h1>

    <p>{{_("If you came here, it's certainly because you found out some link to it in your logs. LibreCaptchaBot is a simple bot trying to find out some pictures and sounds in order to create challenges. If you are in a case explained below, please fell free to <a href=\"%s\">contact us</a> in order to resolve the probem." % url_for('core.about')) }}</p>

    <h2>{{ _("This bot is too fast for your website") }}</h2>
    <p>{{_("Actually, this bot should be querying at maximum speed of two seconds. It means that it should not query your website more than once in two seconds, which should be sufficient not to harm your website.")}}</p>

    <h2>{{ _("This bot should not crawl my website") }}</h2>
    <p>{{_("Actual crawl should be done onto Wikimedia Commons and (CC) Mixter websites. If your website is crawled by this User-Agent maybe someone else is using it.")}}</p>

    <h2>{{ _("This bot is doing strange things") }}</h2>
    <p>{{_("This bot is still under development and should not harm your website. Please report any abuse or strange behaviors.")}}</p>

    </section>
</section>
{% endblock %}
