{% extends 'base.html' %}
{% from 'formhelper.html' import render_field %}
{% block content %}
<form class="rc text-center" method="POST" action="{{ url_for('user.subscribe') }}">
<h1>{{_('Subscribe')}}</h1>
<fieldset id="test">
    {{ g.form.hidden_tag() }}
    {{ render_field(g.form.login, True) }}<br />
    {{ render_field(g.form.password) }}<br />
    {{ render_field(g.form.password_confirmation) }}
</fieldset>
<br />
<input type="submit" class="btn btn-primary validation" value="{{_('Confirm')}}" />
</form>
{% endblock %}
